<?xml version="1.0"?>
<launch>

    <!-- params -->
    <param name="/rosplan/owl_path" value="$(find rosplan_knowledge_base)/common/paco.owl" />
    <param name="/rosplan/iri" value="https://github.com/EmaroLab/paco/owl/paco" />
    <param name="/armor/settings/show_gui" value="true" />
    <param name="/rosplan/domain_path" value="$(find rosplan_planning_system)/common/domain.pddl" />

    <!-- ARMOR ontology manager -->
    <node pkg="armor" type="execute" name="armor_service" args="it.emarolab.armor.ARMORMainService" />

    <!-- knowledge base -->
    <node name="rosplan_knowledge_base" pkg="rosplan_knowledge_base" type="knowledgeBase" respawn="false" /> 

    <!-- scene database (MongoDB) -->
    <node name="rosplan_scene_base" pkg="mongodb_store" type="mongodb_server.py" respawn="false" >
       <param name="database_path" value="$(find rosplan_knowledge_base)/common/mongoDB" />
    </node>
    <node name="rosplan_scene_message_store" pkg="mongodb_store" type="message_store_node.py" respawn="false"></node>                                       

</launch>
